---

---
<section>
    <footer class="w-full text-center text-white py-[32px] bg-[#0a0a0a] lg:pl-[450px] relative " >
        <div class="w-full flex flex-col items-center gap-[8px] pt-[32px]" >
        <p> Daniel Macias Alba </p>
        <p>2025</p>
    </div>
    </footer>
</section>